html, body{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    width: 100vw;
    overflow-x: hidden;
}

/* fonts */

@font-face{
    font-family: Header;
    src: url(../fonts/RoslindaleText-Bold.ttf);
}
@font-face{
    font-family: Subhead;
    src: url(../fonts/Prompt-Medium.ttf);
}
@font-face{
    font-family: Body;
    src: url(../fonts/Prompt-Light.ttf);
}
@font-face{
    font-family: Regular;
    src: url(../fonts/RoslindaleText-Regular.ttf);
}
@font-face{
    font-family: Nav;
    src: url(../fonts/Prompt-Thin.ttf);
}

/* nav bar  */
.nav{
    display:flex;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 95vw;
    position: fixed;
    justify-content: space-between;
    background-color: black;
    z-index: 1;
}
.nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Nav;
}
.nav a:hover{
    font-family: Subhead;
}

/* flex box housing posts */
.flex-container{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

/* large text marquee  */

.marquee-grid{
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 0;
    margin: 0;
}
.largetext marquee{
    font-size: 30vh;
    font-family: Regular;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: yellow;
    -webkit-text-stroke-width: 3px;
}

.intro{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto ;
    width: 50vw;
    grid-gap: 1.5vw;
    padding-bottom: 10vh;
    padding-top: 10vh;
}
.intro-title{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-family: Header;
    font-size: 3vw;
    color: yellow;
}
.intro-text{
    font-family: Body;
    font-size: 16px;
    initial-letter: 2;
}

/* posts  */

.post-container{
    display: grid;
    grid-template-columns: 20vw auto; 
    grid-gap: 5vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.post-image { 
    grid-column-start: 2;
    grid-column-end: 3;
}
.post-text { 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
    text-align: right;
}
.post-container1{
    display: grid;
    grid-template-columns: auto 20vw; 
    grid-gap: 5vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.post-image1 { 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
}
.post-text1 { 
    grid-column-start: 2;
    grid-column-end: 3;
}
.story-title{
    font-family: Header;
    font-size: 3vw;
    color: yellow;
}
.story-tease{
    font-family: Body;
    font-size: 1vw;
}

.intro-text::first-letter{
    initial-letter: 2;
    font-family: Regular;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: yellow;
    -webkit-text-stroke-width: 3px;
}


/* button  */

button{
    background-color: transparent;
    font-family: Nav;
    border-color: yellow;
    border-radius: 8px;
    display: inline-block;
    border-width: thin;
    justify-content: center;
    padding: 8px 25px;
    font-size: 17.5px;
    color: yellow;
}
button:hover{
    border: none;
    font-family: Nav;
    color: black;
    background-color: yellow;
}
button:active{
    border: none;
    font-family: Nav;
    color: #6B705C;
    background-color: black;
}

/* phone responsive  */

@media only screen and (max-width: 500px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        position: fixed;
        z-index: 1;
        width: 100vw;
        align-items: center;
        padding-top: 3vw;
        padding-bottom: 3vw;
        padding-right: 3vw;
        padding-left: .4vw;
        font-size: 12px;
    }
    .nav-item{
        justify-self: flex-start;
    }
    .nav a:hover{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-family: Nav;
    }

    .post-container{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        padding: 5vw;
    }
    .post-container1{
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        padding: 5vw;
    }

    img{
        width: 100%;
        justify-self: center;
    }

    /* button{
        width: 20px;
        font-size: 12px;
        padding: 4px 12px;
        justify-content: center;
    } */
    .largetext marquee{
        font-size: 25vh;
    }

    .intro{
        display: flex;
        flex-direction: column;
        width: 75vw;
        grid-gap: 1.5vw;
        padding-bottom: 10vh;
        padding-top: 10vh;
    }
    .intro-title{
        text-align: center;
        font-family: Header;
        font-size: 35px;
        padding-bottom: 3vh;
    }
    .intro-text{
        font-family: Body;
        font-size: 12px;
        text-align: center;
    }

    .story-title{
        font-family: Header;
        font-size: 35px;
    }
    .story-tease{
        font-family: Body;
        font-size: 12px;
    }

  }

